{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Psyche</title>
    <link rel="stylesheet" href="{% static 'users/assets3/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'users/assets3/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/assets3/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Psyche</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'Check-ASPMT' %}"><i class="fas fa-tachometer-alt"></i><span>Check your ASPMT</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://integrations.eu-gb.assistant.watson.cloud.ibm.com/web/public/e42489b4-7743-4e09-abca-90f3ca23eabf"><i class="fas fa-tachometer-alt"></i><span>Chat with Shrink</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'Group-Session' %}"><i class="fas fa-tachometer-alt"></i><span>&nbsp;Group Session</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <!-- Start: custom nav -->
                    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background-color: #ffffff;width: 100%;height: 77px;padding-left: 0px;margin-left: -1;">
                        <div class="container">
                            <div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
                            <div class="collapse navbar-collapse" id="navcol-1"
                                style="color: rgb(78,115,223);">
                                <ul class="nav navbar-nav nav-right" style="width: 399px;height: 48px;">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'Dashboard' %}" style="color: #4e73df;">Home</a></li>

                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #4e73df;">Diagnostics</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="about.html" style="color: #4e73df;">About</a></li>
                                    <li class="nav-item" role="presentation"></li>
                                </ul>
                                <!-- Start: Actions -->
                                <p class="ml-auto navbar-text actions"> </p>
                                <!-- End: Actions -->
                            </div>
                        </div>
                    </nav>
                    <!-- End: custom nav -->
                    <hr>
                </div>
                <div class="container">
                    <form method='POST'>
                      {% csrf_token %}
                        <h1 class="text-center">Anxiety</h1>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 1:</h6>
                                        <p>Do you experience excessive worry?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a1' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a1' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a1' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a1' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 2:</h6>
                                        <p>Do you find it difficult to control worrying?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a2' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a2' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a2' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a2' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 3:</h6>
                                        <p>Do you experience Dyspnea?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a3' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a3' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a3' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a3' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 4:</h6>
                                        <p>Do you have trouble falling asleep?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a4' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a4' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a4' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a4' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 5:</h6>
                                        <p>Do you experience blurry vision/jelly legs?&nbsp;</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a5' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a5' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a5' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a5' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 6:</h6>
                                        <p>Does worry make you feel fatigued?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a6' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a6' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a6' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='a6' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <h1 class="text-center">Stress</h1>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 1:</h6>
                                        <p>Do you frequently bring work to home?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" name='s1' value='1' type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" name='s1' value='3' type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" name='s1' value='2' type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" name='s1' value='4' type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 2:</h6>
                                        <p>Enough hrs in the day to do your work?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s2' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s2' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s2' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s2' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 3:</h6>
                                        <p>Do you frequently have guilty feelings?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s3' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s3' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s3' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s3' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 4:</h6>
                                        <p>Do you deny or ignore problems in hope that they will go away?&nbsp;</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s4' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s4' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s4' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s4' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 5:</h6>
                                        <p>Do you feel upset of things that happened unexpectedly?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s5' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s5' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s5' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s5' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 6:</h6>
                                        <p>Do you experience mood swings and difficulty in making decisions?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s6' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s6' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s6' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='s6' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <h1 class="text-center">Physical Tiredness</h1>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 1:</h6>
                                        <p>Have you started a new exercise or diet program?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt1' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name="pt1" value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt1' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt1' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 2:</h6>
                                        <p>Any stress related to death of a family member, work pressure?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt2' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt2' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt2' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt2' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 3:</h6>
                                        <p>Any recent work changes like extended hours or night shifts?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt3' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt3' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt3' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt3' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 4:</h6>
                                        <p>Do you get tired at certain times like after interaction with a person or etc?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt4' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt4' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt4' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt4' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 5:</h6>
                                        <p>Any use of illegal or un-prescribed drugs or other supplements?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt5' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt5' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt5' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt5' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 6:</h6>
                                        <p>Are you taking any new medicines or any other type of drugs?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt6' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt6' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt6' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='pt6' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <h1 class="text-center">Mental Tiredness</h1>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 1:</h6>
                                        <p>Do you smile less often even in situations you find funny?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt1' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt1' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt1' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt1' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 2:</h6>
                                        <p>Are you able to get together well and socialize with friends?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt2' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt2' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt2' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt2' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 3:</h6>
                                        <p>Do you get started easily by voices , noises or movement?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt3' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt3' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt3' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt3' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="max-height: 100%;">
                            <div class="col" style="max-height: 100%;">
                                <div></div>
                                <div class="card" style="max-width: 100%;">
                                    <div class="card-body" style="max-width: 100%;">
                                        <h6 class="text-muted card-subtitle mb-2">Question 4:</h6>
                                        <p>Do you get irritated very often?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt4' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt4' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt4' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt4' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 5:</h6>
                                        <p>Do you get a sound sleep everyday?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt5' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt5' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt5' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt5' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-muted card-subtitle mb-2">Question 6:</h6>
                                        <p>Does your anxiety level stay high?</p>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt6' value='1' id="formCheck-1"><label class="form-check-label" for="formCheck-1">Mild</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt6' value='3' id="formCheck-2"><label class="form-check-label" for="formCheck-2">Severe</label></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt6' value='2' id="formCheck-3"><label class="form-check-label" for="formCheck-3">Moderate</label></div>
                                                <div class="form-check"><input class="form-check-input" type="radio" name='mt6' value='4' id="formCheck-4"><label class="form-check-label" for="formCheck-4">Very Severe</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row text-center">
                            <div class="col"><button class="btn btn-primary text-center" type="submit">Calculate ASPMT</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Psyche 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'users/assets3/js/script.min.js' %}"></script>
</body>

</html>
