{% extends 'users/base.html' %}
{% load static %}
    {% block content %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div style="margin-left: 63px;margin-right: 0;padding-left: 98px;">
        <!-- Start: Pretty Registration Form -->
        <div class="row d-block register-form" id="register" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-md-8 offset-md-2" style="width: 647px;margin-left: 293px;padding-right: 0px;">
                <form class="custom-form" style="width: 531px;margin-right: 0px;padding-right: 0px;padding-left: 0px;">
                    <h1>Sign Up</h1>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Name </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="email"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Password </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="password"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label></div>
                        <div class="col-sm-6 input-column"><input class="form-control" type="password"></div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Gender</label></div>
                        <div class="col-sm-4 input-column">
                            <div class="dropdown"><button class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown </button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Male</a><a class="dropdown-item" role="presentation" href="#">Female</a><a class="dropdown-item" role="presentation" href="#">Unspecified</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">I've read and accept the terms and conditions</label></div>
                    <a href="{% url 'Login' %}"><button class="btn btn-light submit-button" type="button">Make my Account!!</button></a>
                  </form>
            </div>
        </div>
        <!-- End: Pretty Registration Form -->
    </div>
    {% endblock %}
