.exercise_body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #ebf5fc; */
}

.exercise_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.exercise_container .exercise_card
{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}

.exercise_container .exercise_card .exercise_box
{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #ebf5fc; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.exercise_container .exercise_card:hover .exercise_box
{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.exercise_container .exercise_card .exercise_box .exercise_content
{
    padding: 20px;
    text-align: center;
}

.exercise_container .exercise_card .exercise_box .exercise_content h2
{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.05);
    transition: 0.5s;
    pointer-events: none;
}

.exercise_container .exercise_card:hover .exercise_box .exercise_content h2
{
    color: rgba(0,0,0,0.05);
}

.exercise_container .exercise_card .exercise_box .exercise_content h3
{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.exercise_container .exercise_card .exercise_box .exercise_content p
{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.exercise_container .exercise_card:hover .exercise_box .exercise_content h3,
.exercise_container .exercise_card:hover .exercise_box .exercise_content p
{
    color: #fff;
}

.exercise_container .exercise_card .exercise_box .exercise_content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.exercise_container .exercise_card:hover .exercise_box .exercise_content a
{
    background: #ff568f;
}